<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
        <link rel="stylesheet" href="~/css/style.css"/>
         <title>Date & Time</title>
    </head>
    <body style="border: 1px solid grey; padding: 10px;">
        <center>
            <h1>Current Date & Time</h1>
            <h3>@ViewBag.CurrentTime<h3>
            <a href="/"><input class="button-primary" type="submit" value="Update"></a>
        </center>
    </body>
</html>